:root {
  font-size: 62.5%;
  --vivid-green: #26d780;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Merriweather', serif;
}

.App {
  text-align: center;
}

.Body {
  display: flex;
  align-items: center;
  justify-content: center;
}
